{% extends 'base.html' %}

{% block title %}Інформація по датчикам{% endblock %}

{% block content %}
<h1>Інформація про {{ weather.model}}</h1>
<p>Локація: {{ weather.location }}</p>
<p>Дата: {{ weather.date }}</p>
<p>Час: {{ weather.time }}</p>
<p>Температура: {{ weather.temp }}</p>
<p>Назва датчику: {{ weather.name }}</p>
<p>Модель датчику: {{ weather.model }}</p>
<p>Посилання на датчик: <a href="{{ weather.model_id }}" target="_blank">Тиць</a></p>
<a href="{% url 'weather_list' %}" class="btn btn-primary">Повернутись по списку датчиків</a>
{% endblock %}